{% import_yaml 'p4/defaults.yml' as default_settings %}

{% set os_config = salt['grains.filter_by'](
  {
    'Debian': {
      'pkgrepo': {
        'humanname':  'Perforce Package Server',
        'name':       'deb http://package.perforce.com/apt/ubuntu/ ' ~ grains.oscodename ~ ' release',
        'dist':       grains.oscodename,
        'file':       '/etc/apt/sources.list.d/perforce.list',
        'key_url':    'http://package.perforce.com/perforce.pubkey'
      },
      'p4python': {
        'require': {
          'pkg': 'python-dev'
        }
      }
    },
    'RedHat': {
      'pkgrepo': {
        'humanname':  'Perforce Package Server',
        'name':       'perforce',
        'baseurl':    'http://package.perforce.com/yum/rhel/$releasever/$basearch',
        'gpgkey':     'http://package.perforce.com/perforce.pubkey',
        'gpgcheck':   1
      },
      'p4python': {
        'require': {
          'pkg': 'python-devel'
        }
      }
    },
    'default': {}
  },
  grain='os_family')
%}

# Handle special snowflake AWS-Centos images.
{% if grains['os_family'] == 'RedHat' and grains['os'] == 'Amazon' %}
  {% do os_config.pkgrepo.update({'baseurl': 'http://package.perforce.com/yum/rhel/6/$basearch'}) %}
{% endif %}

{% do default_settings.p4.update(os_config) %}

{% set p4 = salt['pillar.get'](
  'p4',
  default=default_settings.p4,
  merge=True)
%}
